:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --header-background-color: #ffffff;
  --team-section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: var(--main-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.name {
  display: block;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.name-studio {
  color: #000000;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.name-studio:hover,
.name-studio:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .item {
  position: relative;
}
.site-nav .link.current {
  position: relative;
}
.site-nav .link.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
/* site nav */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav,
.contacts {
  display: flex;
  letter-spacing: 0.02em;
}
/* contacts */
.contacts {
  margin-left: auto;
}

.contacts .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
.contacts .icon {
  padding: 0;
  border: 0;
  margin-right: 10px;
  fill: currentColor;
}
.contacts .icon:hover,
.contacts .icon:focus {
  fill: var(--accent-color);
}
.contacts .item:hover,
.contacts .item:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contacts .item + .item {
  margin-left: 50px;
}
/* main */

/* banner */

.banner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.banner-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--second-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
}
.banner-title,
.button.primary {
  letter-spacing: 0.06em;
}
.button {
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  color: var(--title-color);
  background-color: var(--second-accent-color);
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.button.primary {
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  font-weight: 700;
  line-height: 1.9;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--team-section-background-color);
  color: var(--title-color);
}
.button.secondary {
  padding: 6px 22px;
  background-color: var(--team-section-background-color);
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* sections */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  padding: 0;
  margin: 0;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-title.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Преимущества */
.benefits {
  display: flex;
  flex-wrap: wrap;
}
.benefits .item {
  width: 270px;
  margin-right: 30px;
}
.benefits .item:nth-child(4n) {
  margin-right: 0;
}
.section .benefits {
  margin-top: 0;
  margin-bottom: 0;
}
.about-benefit {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.benefits .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits .description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}

/* Чем мы занимаемся */
.section.works {
  padding-top: 0;
}
.work {
  display: flex;
  flex-wrap: wrap;
}
.work .item {
  margin-right: 30px;
}
.work .item:nth-child(3n) {
  margin-right: 0;
}
.desktop-app,
.mobile-app,
.design-solutions {
  position: relative;
}
.desktop-app .text,
.mobile-app .text,
.design-solutions .text {
  position: absolute;
  width: 370px;
  height: 70px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--second-accent-color);
  background: rgba(47, 48, 58, 0.8);
}
.photo {
  display: block;
}
.section.works .section-title,
.section.teams .section-title {
  margin-bottom: 50px;
}

/* Команда */
.section.teams {
  background-color: var(--team-section-background-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team .item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team .item:nth-child(4n) {
  margin-right: 0;
}
.team .item {
  background-color: var(--second-accent-color);
}
.about-team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-team .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.about-team .position {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-icons .item-social {
  margin-right: 10px;
}
.team-icons .item-social:nth-child(4n) {
  margin-right: 0;
}
.team-icons .media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.team-icons .media:hover,
.team-icons .media:focus {
  background-color: var(--accent-color);
  fill: var(--second-accent-color);
}

/* Clients */
.clients .section-title {
  margin-bottom: 50px;
}
.our-clients {
  display: flex;
}
.our-clients .item {
  margin-right: 30px;
}

.our-clients .item:nth-child(6n) {
  margin-right: 0;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  transition: fill 250ms var(--timing-function), border 250ms var(--timing-function);
}
.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футер */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer {
  display: flex;
  align-items: baseline;
}
.contact-info {
  margin-right: 70px;
}
.name.studio {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}
.name-second {
  color: var(--second-accent-color);
  transition: color 250ms var(--timing-function);
}

.name-second:hover,
.name-second:focus {
  color: var(--accent-color);
}

.location {
  margin-bottom: 9px;
  color: var(--second-accent-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.phone,
.mail {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms var(--timing-function);
}
.connection .item:not(:last-child) {
  margin-bottom: 9px;
}

.phone,
.mail {
  color: var(--footer-contacts);
}

.phone:hover,
.phone:focus,
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.container-join {
  margin-right: 93px;
}
.join,
.form-sign-up label {
  color: var(--second-accent-color);
  text-transform: uppercase;
  line-height: 1.14;
  margin-bottom: 20px;
  margin-top: 0;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
}
.social-media .item:not(:last-child) {
  margin-right: 10px;
}
.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-accent-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}
.media-link:hover,
.media-link:focus {
  background-color: var(--accent-color);
}
.form-sign-up {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}
.form-email {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}
.form-email input:hover,
.form-email input:focus {
  border-color: var(--accent-color);
}
.form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
.form-button {
  padding: 10px 28px 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms var(--timing-function);
  cursor: pointer;
}
.form-button:hover,
.form-button:focus {
  box-shadow: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-sign-up .icon {
  fill: var(--second-accent-color);
  margin-left: 10px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--timing-function);
  opacity: 1;
  background-color: var(--second-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 6px;
  background: var(--second-accent-color);
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.form-modal {
  width: 100%;
  height: 100%;
  padding: 40px;
}
.modal-title {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
}
.form-field {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin-bottom: 10px;
}
.form-modal label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  transition: color 250 var(--timing-function);
}
.form-modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}
.input-position {
  position: relative;
}
.form-modal-input:hover,
.form-modal-input:focus {
  border-color: var(--accent-color);
}
.form-modal-input:hover + .form-icon,
.form-modal-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  translate: -11px, -12px;
  transition: fill 250 ms var(--timing-function);
}
.form-field.textarea {
  margin-bottom: 20px;
}
.form-textarea {
  resize: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}
.link-contract {
  color: var(--accent-color);
}
.form-modal label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  transition: color 250 var(--timing-function);
}
.form-modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}
.input-position {
  position: relative;
}
.form-modal-input:hover,
.form-modal-input:focus {
  border-color: var(--accent-color);
}
.form-modal-input:hover + .form-icon,
.form-modal-input:focus + .form-icon {
  fill: var(--accent-color);
}
.form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  translate: -11px, -12px;
  transition: fill 250 ms var(--timing-function);
}
.form-textarea {
  resize: none;
  margin: 0;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}
.link-contract {
  color: var(--accent-color);
}
.form-modal .label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.agree-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: transparent;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 4px;
  fill: transparent;
  transition: background-color 250ms var(--timing-function);
}
.checkbox:checked + .agree-icon {
  border-color: transparent;
  background-color: var(--accent-color);
}
.checkbox:focus + .agree-icon {
  border-color: var(--accent-color);
}
.form-modal .form-button {
  margin: 0 auto;
}
/* Портфолио */

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects .item:nth-child(3n) {
  margin-right: 0;
}
.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms var(--timing-function);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-thumb {
  position: relative;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.project-thumb .text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  transform: translateY(101%);
  transition: transform 250ms var(--timing-function);
  line-height: 1.56;
  color: var(--second-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
}
.project-link:hover .project-thumb .text,
.project-link:focus .project-thumb .text {
  transform: translateY(0);
}
.about-project {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.about-project .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.about-project .kind {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.9;
}
